// * {
//   box-sizing: border-box;
// }

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff00;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 10px;
  max-width: 320px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery-list {
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
}


.gallery-list__image {
  width: 350px;
  height: 250px;
  margin-left: 10px;
  margin-top: 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #1e90ff;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column
}


.search-form {
  background-color: #1e90ff;
  text-align: center;
  padding: 8px;
}

.load-more {
  margin-right: auto;
  margin-left: auto;
  background-color: #1e90ff;
  width: 100px;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  
}
